{
  "env": {
    "es2020": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "prettier",
    "prettier/react"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["import"],
  "rules": {
    "prefer-const": "error",
    "no-console": "warn"
  }
}
